<div
  class="container-fluid mt-md-5 d-flex align-items-center h-100 justify-content-center"
>
  <div class="row col-12 col-md-10 col-lg-8">
    <div class="col-12 col-md-6 mt-3">
      <app-ftx-input-password
        [formGroup]="updatePasswordForm"
        controlName="newpassword"
        [viewLabel]="false"
        [placeholder]="'NUEVA CONTRASEÑA'"
      />
    </div>
    <div class="col-12 col-md-6 mt-md-3">
      <app-ftx-input-password
        [formGroup]="updatePasswordForm"
        controlName="confirmnewpassword"
        [viewLabel]="false"
        [placeholder]="'CONFIRMAR NUEVA CONTRASEÑA'"
      />
    </div>
    <div class="col-12 text-center mt-md-3">
      <p>
        La contraseña debe poseer al menos 8 caracteres, al menos una letra
        mayúscula, una letra minúscula y un número*
      </p>
    </div>
    <div class="col-12 d-flex align-items-center justify-content-center">
      @if(!isLoading){
      <ftx-button
        [content]="'Cancelar'"
        [buttonType]="'danger'"
        [icon]="'highlight_off'"
        (eventClick)="update()"
      />
      <ftx-button
        [content]="'Actualizar'"
        (eventClick)="update()"
        [icon]="'exit_to_app'"
        [disabled]="!updatePasswordForm.valid"
      />
      }@else{
      <app-ftx-spinner />
      }
    </div>
  </div>
</div>
